* {
	margin: 0;
	padding: 0;
}
#pixabay,
#maketest{
	font-family: Arial, sans-serif;
	margin: 1em;
}
#form{
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 1em;
}
#ask{
	flex-grow: 1;
	height: 1.9em;
	border: 1px solid #D9D9D9;
    padding-left: 0.5em;
    font-size: 1.1em;
}
#find{
	border-color: #666666;
    background-color: #CECECE;
    width: 5em;
    border: 1px solid;
    border-radius: 3px;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#pict{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	align-content: space-around
}
#pict img {
	margin: 1em;
}
#google img{
	margin-left: 1em;
}
.hide{
	display: none;
}
#maketest button {
	padding: 0 5px 0 5px;
}
#tb{
	width: 70%;
	/*border: 1px dashed;*/
}
#tb tr input[type="text"]{
	width: 100%;
}
#tb .col2, .col3{
	width: 5%;
	text-align: center;
}

#label {
	font-size: 0.8em;
}